aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
blis==0.2.4
certifi==2020.12.5
chardet==3.0.4
ChatterBot==1.0.5
chatterbot-corpus==1.2.0
click==7.1.2
cymem==2.0.5
idna==3.1
joblib==1.0.0
mathparse==0.1.2
multidict==5.1.0
murmurhash==1.0.5
nltk==3.5
numpy==1.19.5
packaging==20.8
Pint==0.16.1
plac==0.9.6
preshed==2.0.1
pymongo==3.11.2
pyparsing==2.4.7
python-dateutil==2.7.5
pytz==2020.5
PyYAML==5.1.2
regex==2020.11.13
requests==2.25.1
six==1.15.0
spacy==2.1.9
SQLAlchemy==1.2.19
srsly==1.0.5
thinc==7.0.8
tqdm==4.55.2
typing-extensions==3.7.4.3
urllib3==1.26.2
wasabi==0.8.0
yarl==1.6.3
